header {
  background-image: url(//cdn.shopify.com/s/files/1/0925/6626/t/50/assets/slideshow_1.jpg?1515721…);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-body {
  height: 400px;
  overflow: scroll;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
