<toaster-container></toaster-container>
<header class="container-fluid">
  <img class="img-fluid" src="assets/particle-logo.png">
</header>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="particleForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="deviceId">Device Id</label>
          <input id="deviceId" class="form-control" formControlName="deviceId">
          <small id="emailHelp" class="form-text text-muted">
            <a href="https://build.particle.io/" target="_blank">Get from your build dashboard devices tab</a>
          </small>
        </div>
        <div class="form-group">
          <label for="accessToken">Access Token</label>
          <input type="password" class="form-control" formControlName="accessToken">
          <small id="emailHelp" class="form-text text-muted">
            <a href="https://build.particle.io/" target="_blank">Get from your build dashboard settings tab</a>
          </small>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
    <div class="col-md-8 mt-4">
      <button class="btn btn-outline-primary" (click)="open(content)">Get Firmware Code</button>
      <hr>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(7)">Toggle Pin 7</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(6)">Toggle Pin 6</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(5)">Toggle Pin 5</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(4)">Toggle Pin 4</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(3)">Toggle Pin 3</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(2)">Toggle Pin 2</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(1)">Toggle Pin 1</button>
      <button class="btn btn-primary mb-2 mr-2" (click)="flipPinState(0)">Toggle Pin 0</button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Firmware Code</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button class="btn btn-primary mb-2 mr-2" ngxClipboard (cbOnSuccess)="copySuccess()" [cbContent]="firmware">
      <i class="fa fa-clipboard" aria-hidden="true"></i>
      Copy
    </button>
    <a class="btn btn-primary mb-2" href="https://build.particle.io/build" target="_blank">
      <i class="fa fa-external-link" aria-hidden="true"></i>
      Flash your particle
    </a>
    <pre><code highlight [code]="firmware"></code></pre>
  </div>
</ng-template>
